<!-- [begin] css combine -->
{fontawesome}
{unsemantic}
<link href="{$Template->getTemplateUrl('bin/css/style.css')}" rel="stylesheet" type="text/css" />
<link href="{$Template->getTemplateUrl('bin/css/bricks-controls/navigation.css')}" rel="stylesheet" type="text/css" />

{if $quiTplType && $quiTplType == 'rightSidebar'}
{*<link href="{$URL_TPL_DIR}bin/types/rightSidebar.css" rel="stylesheet" type="text/css" />*}
{/if}

{if $quiTplType && $quiTplType == 'leftSidebar'}
{*<link href="{$URL_TPL_DIR}bin/types/leftSidebar.css" rel="stylesheet" type="text/css" />*}
{/if}
<!-- [end] css combine -->