<!-- page -->
<div class="body-container {if $showHeader}body-container-padding{/if}">

    {* <!-- Page header--> *}
    {template_event name="quiqqer::template-basiccompany::body::beforeHeader" Template=$Template}
    {fetch template="template/page/pageHeader.html" showHeader=$showHeader}
    {template_event name="quiqqer::template-basiccompany::body::afterHeader" Template=$Template}


    {* <!-- breadcrumb --> *}
    {template_event name="quiqqer::template-basiccompany::body::beforeBreadcrumb" Template=$Template}
    {fetch template="template/page/breadcrumb.html" showBreadcrumb=$showBreadcrumb Breadcrumb=$Breadcrumb}
    {template_event name="quiqqer::template-basiccompany::body::afterBreadcrumb" Template=$Template}

    <div class="headerSuffix">
        <!-- header suffix  -->
        {assign var=headerSuffix value=$BricksManager->getBricksByArea('headerSuffix', $Site)}
        {foreach $headerSuffix as $Brick}

            {assign var=noPadding value=""}
            {if $Brick->getSetting('noPadding')}
                {assign var=noPadding value="-noPadding"}
            {/if}

            {assign var=customClasses value=""}
            {if !empty($Brick->getCSSClasses())}
                {foreach $Brick->getCSSClasses() as $cssClass}
                    {assign var=customClasses value=$customClasses|cat:"brickWrapper-customCSSClass-"|cat:$cssClass|cat:" "}
                {/foreach}
            {/if}

            {if $Brick->getSetting( 'brickFullWidth' )}
                <section class="prefix-suffix-full-width clear-fix tpl-basicCompany-row{$noPadding}
                                headerSuffix-container brick-id-{$Brick->getAttribute('id')}
                                {cycle values='brick-even-suffix,brick-odd-suffix'} {$customClasses}"
                        {if $Brick->getSetting('promosliderBackground')}
                        style="background-color: {$Brick->getSetting('promosliderBackground')};"
                        {/if}
                >
                    {$Brick->create()}
            </section>
            {else}
                <div class="prefix-suffix-nofull-width tpl-basicCompany-row
                            headerSuffix-container brick-id-{$Brick->getAttribute('id')}
                            {cycle values='brick-even-suffix,brick-odd-suffix'} {$customClasses}">
                <div class="grid-container">
                    <section>
                        {if $Brick->getAttribute('frontendTitle')}
                            <h1 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h1>
                            {$Brick->setSetting('showTitle', false)}
                        {/if}
                        {$Brick->create()}
                    </section>
                </div>
            </div>
            {/if}
        {/foreach}
    </div>


    {template_event name="quiqqer::template-basiccompany::body::beforeMain" Template=$Template}
    <div class="main-content-color-bg  {cycle values='' reset=true}">
        <div class="grid-container main-content">
            {$Template->getLayout()}
        </div>
    </div>
    {template_event name="quiqqer::template-basiccompany::body::afterMain" Template=$Template}


    <div class="prefixFooter">
        <!-- footer prefix-->
        {cycle assign=cy values="brick-even-suffix,brick-odd-suffix" reset=true}
        {assign var=footerPrefix value=$BricksManager->getBricksByArea('footerPrefix', $Site)}

        {foreach $footerPrefix as $Brick}
            {assign var=noPadding value=""}
            {if $Brick->getSetting('noPadding')}
                {assign var=noPadding value="-noPadding"}
            {/if}

            {assign var=customClasses value=""}
            {if !empty($Brick->getCSSClasses())}
                {foreach $Brick->getCSSClasses() as $cssClass}
                    {assign var=customClasses value=$customClasses|cat:"brickWrapper-customCSSClass-"|cat:$cssClass|cat:" "}
                {/foreach}
            {/if}

            {if $Brick->getSetting( 'brickFullWidth' )}
            <section class="prefix-suffix-full-width clear-fix tpl-basicCompany-row{$noPadding}
                            footerPrefix-container brick-id-{$Brick->getAttribute('id')}
                            {cycle values='brick-even-prefix,brick-odd-prefix'} {$customClasses}"
                {if $Brick->getSetting('promosliderBackground')}
                style="background-color: {$Brick->getSetting('promosliderBackground')};"
                {/if}
            >
                {$Brick->create()}
            </section>
            {else}
                <div class="tpl-basicCompany-row prefix-suffix-nofull-width
                            footerPrefix-container brick-id-{$Brick->getAttribute('id')}
                            {cycle values='brick-even-prefix,brick-odd-prefix'} {$customClasses}"
                >
                    <div class="grid-container">
                        <section>
                            {if $Brick->getAttribute('frontendTitle')}
                            <h1 class="brick-title">{$Brick->getAttribute('frontendTitle')}</h1>
                            {$Brick->setSetting('showTitle', false)}
                            {/if}

                            {$Brick->create()}
                        </section>
                    </div>
                </div>
            {/if}
        {/foreach}
    </div>

    {template_event name="quiqqer::template-basiccompany::body::beforeFooter" Template=$Template}
    {if $Template->getAttribute('template-footer')}
        {fetch template="template/footer/footer.html" BricksManager=$BricksManager}
    {/if}
    {template_event name="quiqqer::template-basiccompany::body::afterFooter" Template=$Template}
</div>