<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templateBasicCompany.settings">
                    <conf name="logo">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="logoSmall">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="pageBackground">
                        <type><![CDATA[string]]></type>
                    </conf>
                    <conf name="pageMaxWidth">
                        <type><![CDATA[integer]]></type>
                    </conf>
                    <conf name="navPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>fix</defaultvalue>
                    </conf>
                    <conf name="shadow">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="menuShadow">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>show</defaultvalue>
                    </conf>
                    <conf name="bgColorSwitcherPrefix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="bgColorSwitcherSuffix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>


                    <conf name="noHeaderNoSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="noHeaderLeftSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="noHeaderRightSidebar">
                        <type><![CDATA[bool]]></type>
                    </conf>


                    <conf name="colorFooterBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#414141</defaultvalue>
                    </conf>
                    <conf name="colorFooterFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#D1D1D1</defaultvalue>
                    </conf>
                    <conf name="colorFooterLinks">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#E6E6E6</defaultvalue>
                    </conf>
                    <conf name="colorMain">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#DD151B</defaultvalue>
                    </conf>
                    <conf name="colorBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#F7F7F7</defaultvalue>
                    </conf>
                    <conf name="colorMainContentBg">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="colorMainContentFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#5d5d5d</defaultvalue>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateBasicCompany">
                        <text>
                            <locale group="quiqqer/template-basiccompany"
                                    var="templateBasicCompany.settings.menu.title"
                                    />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>

                        <settings title="templateBasicCompany.settings"
                                  name="templateBasicCompany.settings.general">
                            <title>
                                <locale group="quiqqer/template-basiccompany"
                                        var="templateBasicCompany.settings.general.title"
                                        />
                            </title>

                            <!-- Logo -->
                            <input conf="templateBasicCompany.settings.logo" class="media-image">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.logo"
                                            />
                                </text>
                            </input>

                            <!-- Logo small -->
                            <input conf="templateBasicCompany.settings.logoSmall" class="media-image">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.logoSmall"
                                            />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.logoSmall.description"
                                    />
                                </description>

                            </input>

                            <!-- Hintergrund -->
                            <input conf="templateBasicCompany.settings.pageBackground" class="media-image">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.pageBackground"
                                            />
                                </text>
                            </input>

                            <!-- maximale Breite -->
                            <input conf="templateBasicCompany.settings.pageMaxWidth" type="number">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.pageMaxWidth"
                                            />
                                </text>
                            </input>


                            <!-- Menüposition -->

                            <select conf="templateBasicCompany.settings.navPos">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.navPos.text"
                                            />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.navPos.description"
                                            />
                                </description>

                                <option value="fix">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.navPos.fix"
                                            />
                                </option>
                                <option value="scroll">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.navPos.scroll"
                                            />
                                </option>


                            </select>


                            <!-- Page / box shadow -->

                            <select conf="templateBasicCompany.settings.shadow">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.shadow.text"
                                            />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.shadow.description"
                                            />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.shadow.hide"
                                            />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.shadow.display"
                                            />
                                </option>
                            </select>


                            <!-- Menu shadow-->

                            <select conf="templateBasicCompany.settings.menuShadow">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.menuShadow.text"
                                            />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.menuShadow.description"
                                            />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.menuShadow.hide"
                                            />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.menuShadow.display"
                                            />
                                </option>
                            </select>

                            <!-- Background Color Switcher Prefix-->

                            <select conf="templateBasicCompany.settings.bgColorSwitcherPrefix">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.bgColorSwitcherPrefix.text"
                                            />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.bgColorSwitcherPrefix.description"
                                            />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.bgColorSwitcher.hide"
                                            />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.bgColorSwitcher.display"
                                            />
                                </option>
                            </select>

                            <!-- Background Color Switcher Suffix-->

                            <select conf="templateBasicCompany.settings.bgColorSwitcherSuffix">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.bgColorSwitcherSuffix.text"
                                    />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.bgColorSwitcherSuffix.description"
                                    />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.bgColorSwitcher.hide"
                                    />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-basiccompany"
                                            var="templateBasicCompany.settings.bgColorSwitcher.display"
                                    />
                                </option>
                            </select>

                        </settings>

                        <settings title="templateBasicCompany.settings"
                                  name="templateBasicCompany.header.settings">
                            <title>
                                <locale group="quiqqer/template-basiccompany"
                                        var="templateBasicCompany.header.settings.text"
                                        />
                            </title>

                            <input conf="templateBasicCompany.settings.noHeaderNoSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="noHeaderNoSidebar.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBasicCompany.settings.noHeaderLeftSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="noHeaderLeftSidebar.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBasicCompany.settings.noHeaderRightSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="noHeaderRightSidebar.text"
                                            />
                                </text>
                            </input>
                        </settings>

                        <!-- Colors -->
                        <settings title="templateBasicCompany.settings"
                                  name="templateBasicCompany.settings.color">
                            <title>
                                <locale group="quiqqer/template-basiccompany"
                                        var="templateBasicCompany.settings.color.title"
                                        />
                            </title>

                            <text>
                                <locale group="quiqqer/template-basiccompany"
                                        var="templateBasicCompany.settings.generalColor.text"
                                />
                            </text>
                            <input conf="templateBasicCompany.settings.colorMain"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="template.settings.colorMain.text"
                                            />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="template.settings.colorMain.description"
                                            />
                                </description>
                            </input>
                            <input conf="templateBasicCompany.settings.colorBackground"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="template.settings.colorBackground.text"
                                            />
                                </text>
                            </input>


                            <text>
                                <locale group="quiqqer/template-basiccompany"
                                        var="templateBasicCompany.settings.footerColor.text"
                                />
                            </text>
                            <input conf="templateBasicCompany.settings.colorFooterBackground"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="template.settings.colorFooterBackground.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBasicCompany.settings.colorFooterFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="template.settings.colorFooterFont.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBasicCompany.settings.colorFooterLinks"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="template.settings.colorFooterLinks.text"
                                            />
                                </text>
                            </input>


                            <text>
                                <locale group="quiqqer/template-basiccompany"
                                        var="templateBasicCompany.settings.contentColor.text"
                                />
                            </text>

                            <input conf="templateBasicCompany.settings.colorMainContentBg"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="template.settings.colorMainContentBackground.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBasicCompany.settings.colorMainContentFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-basiccompany"
                                            var="template.settings.colorMainContentFont.text"
                                            />
                                </text>
                            </input>


                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic"/>
            <css src="URL_OPT_DIR/quiqqer/template-basiccompany/bin/css/style.css"/>
        </wysiwyg>

    </project>
</quiqqer>