<div class="grid-container page" id="page">

    {assign var=leftSideBar value=$BricksManager->getBricksByArea('leftSidebar', $Site)}
    {assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
    {assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

    <div class="grid-100 mobile-grid-100 page-multible-content" role="main">

        <div class="page-multible-left grid-parent grid-33 mobile-grid-100">
            {if !empty( $leftSideBar )}
            {foreach from=$leftSideBar item=Brick}
            <div class="page-box">
                <div class="page-box-inner page-content">
                    {$Brick->create()}
                </div>
            </div>
            {/foreach}
            {else}
                &nbsp;
            {/if}
        </div>

        <div class="page-multible-right grid-parent grid-66 mobile-grid-100">

            {if !empty( $prefixContentBricks )}
            {foreach from=$prefixContentBricks item=Brick}
            <div class="page-box page-box-prefix">
                <div class="page-box-inner page-content">
                    {$Brick->create()}
                </div>
            </div>
            {/foreach}
            {/if}


            <div class="page-box">
                {if $Site->getAttribute('type') != 'quiqqer/template-qui:types/leftSidebar'}
                    <div class="page-content">
                        {$Template->getBody()}
                    </div>
                {else}
                    <div class="page-box-inner page-content">
                        {$Site->getAttribute('content')}
                    </div>
                {/if}
            </div>


            {if !empty( $suffixContentBricks )}
            {foreach from=$suffixContentBricks item=Brick}
            <div class="page-box page-box-suffix">
                <div class="page-box-inner">
                    {$Brick->create()}
                </div>
            </div>
            {/foreach}
            {/if}

        </div>

    </div>
</div>