
{assign var=bricks value=$BricksManager->getBricksByArea('noSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

<div id="page">

    <div class="grid-100 mobile-grid-100 grid-parent">

        {if !empty( $prefixContentBricks )}
        {foreach from=$prefixContentBricks item=Brick}
        <div class="page-box page-content">
            {if !$Brick->hasCSSClass('grid*')}
            {$Brick->addCSSClass('grid-100')}
            {/if}
            {$Brick->create()}
        </div>
        {/foreach}
        {/if}


        {foreach from=$bricks item=Brick}
        <section class="startpage-section">
            {if !$Brick->hasCSSClass('grid*')}
            {$Brick->addCSSClass('grid-100')}
            {/if}
            {$Brick->create()}
        </section>
        {/foreach}


        <div class="mobile-grid-100 grid-100 page-content page-box">
            {$Template->getBody()}
        </div>

        {if !empty( $suffixContentBricks )}
        {foreach from=$suffixContentBricks item=Brick}
        <div class="page-box page-content">
            {if !$Brick->hasCSSClass('grid*')}
            {$Brick->addCSSClass('grid-100')}
            {/if}
            {$Brick->create()}
        </div>
        {/foreach}
        {/if}
    </div>
</div>