
{assign var=bricks value=$BricksManager->getBricksByArea('noSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

<div id="page">

    <div class="grid-100 mobile-grid-100 grid-parent">

        {if !empty( $prefixContentBricks )}
        {foreach from=$prefixContentBricks item=Brick}
        <div class="page-box page-content">
            {$Brick->create()}
        </div>
        {/foreach}
        {/if}


        {foreach from=$bricks item=Brick}
        <section class="startpage-section">
            {$Brick->create()}
        </section>
        {/foreach}


        {if $Site->getAttribute('content')}
        <div class="grid-100 mobile-grid-100 page-content page-box" role="main">
            {$Site->getAttribute('content')}
        </div>
        {/if}

        {if !empty( $suffixContentBricks )}
        {foreach from=$suffixContentBricks item=Brick}
        <div class="page-box page-content">
            {$Brick->create()}
        </div>
        {/foreach}
        {/if}
    </div>
</div>