.quiqqer-navigation-level-1 {
    padding-left: 0;
    margin: 0 !important;
}

.quiqqer-navigation-level-1 li,
.quiqqer-navigation-level-2 li,
.quiqqer-navigation-level-3 li {
    margin-bottom: 0;
    padding: 8px 0;
}

.quiqqer-navigation-level-1 a,
a.quiqqer-navigation-home {
    text-decoration: none;
    color: #5d5d5d;
}

ul.quiqqer-navigation-level-2,
ul.quiqqer-navigation-level-3 {
    list-style: none !important;
    margin-top:16px;
}

.quiqqer-navigation-level-1 a:hover,
a.quiqqer-navigation-home:hover {
    background: none;
    box-shadow: none;
}

.quiqqer-navigation .fa {
    line-height:2.3em;
}

.quiqqer-navigation {
    padding-left: 2.14286em;
}

.quiqqer-navigation li {
    list-style: none !important;
}





/* TEST Nav toggle */

/*
.quiqqer-navigation-level-2 {
    display: none;
}

.quiqqer-navigation-toggle {
    display: block;
}*/
