/*
.quiqqer-navigation li {
    list-style: none !important;
}

.quiqqer-navigation-entry {
    border-bottom: 1px solid #ddd;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 6px 0;
}

.quiqqer-navigation-link {
    display: flex;
    line-height: 2.3em;
    width: 100%;
}

.quiqqer-fa-levels-icon {
    cursor: pointer;
    display: flex;
    width:15%;
    text-align: center;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
}
.quiqqer-fa-list-icon,
.quiqqer-fa-levels-icon,
.quiqqer-fa-list-icon::before,
.quiqqer-fa-levels-icon::before {
    margin: auto;
}

.quiqqer-fa-list-icon {
    margin-left: 6px;
    margin-right: 6px;
}

.fa-nav-levels-rotate {
    transform: rotate(180deg);
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
}

!* nav toggle *!
.quiqqer-navigation-close {
     display: none;
}




.quiqqer-navigation-li {
    margin-bottom: 0 !important;
}

.active-bgcolor {
    background: #eee;
}

ul.quiqqer-navigation-level-1,
ul.quiqqer-navigation-level-2,
ul.quiqqer-navigation-level-3,
ul.quiqqer-navigation-level-4 {
    padding-left: 0;
    margin: 0 !important;
}

ul.quiqqer-navigation-level-2 .quiqqer-navigation-entry {
    padding-left: 20px;
}

ul.quiqqer-navigation-level-3 .quiqqer-navigation-entry {
    padding-left: 40px;
}

ul.quiqqer-navigation-level-4  .quiqqer-navigation-entry {
    padding-left: 60px;
}

.quiqqer-navigation-brick {
    margin-left: 0;
    padding-left: 1.5em;
}

.quiqqer-navigation-level-1 a,
a.quiqqer-navigation-home {
    text-decoration: none;
    color: #5d5d5d;
}

.quiqqer-navigation-level-1 a:hover,
a.quiqqer-navigation-home:hover {
    background: none;
    box-shadow: none;
}

.quiqqer-navigation .fa {
    line-height:2.3em;
}

.quiqqer-navigation-active {
    font-weight: bold;
}

.quiqqer-navigation-open,
.quiqqer-navigation-close {
    position: relative;
}

.quiqqer-first-li-bg {
    background: #d9d9d9;
}*/
